{% block main %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Прийоми на {{ date }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          
          </div>

        </div>
   </div>
   <div class="visitings">
      <div class="row">
   		{% for visiting in visitings %}
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
    			<div class="card">
    				<div class="card-body">
    					<a href="{% url 'patient:create_visiting' visiting.id %}" class="card-title">{{ visiting.date|date:"H:i" }}</a>


    				</div>


    			</div>
          <br>
        </div>
		  {% endfor %}
    </div>

{% endblock %}
