{% block main %}
	  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Підтвердження направлення у картку {{ patient.name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
         
          </div>

        </div>
	</div>
	<div class="respect">
		<h4>Лікар:
			<strong>
				{{ visiting.docotor.name }}
			</strong>
		</h4>
		<h4>Дата:
			<strong>
				{{ visiting.date }}
			</strong>
		</h4>
		<br>
		<form action="{% url 'doctor:set_patient_dierection' patient.id visiting.id %}" method="POST">
			{% csrf_token %}
	
			<button class="btn btn-info" type="sublime">Підтвердити</button>
		</form>

	</div>




{% endblock %}