{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Змінити пароль лікаря {{ doctor.name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          
        </div>
	
    </div>
    </div>	
	<form action="{% url 'administrator:edit_password' doctor.id %}" method="POST">
		{% csrf_token %}  
		<label for="inputPassword">Пароль</label>
	  	<input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required name="password">
	  	<br>
		<label for="inputPassword2">Пароль(повторно)</label>
	  	<input type="password" id="inputPassword2" class="form-control" placeholder="Пароль" required name="password2">  			
		<button type="submit" class='btn btn-info'>Змінити пароль</button>
	</form>


{% endblock %}