{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Інформація  {{ uset.first_name }} {{ user.last_name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          
        </div>
	
    </div>
    </div>	

	<div class="information">
		<strong>
			Логін:  {{ user.username }}
		</strong>

	</div>
	<br>
	<a href="{% url 'administrator:home' %}" class="btn btn-info">На головну</a>









{% endblock %}