{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Головна</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
     
        </div>
	
    </div>
    </div>	
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-success">
				<div class="card-header">
					<h3 class="font-weight-normal">
						Зараз приймаєте
					</h3>
				</div>
				<div class="card-body">
					{% if viting_now %}
						<h3>{{ viting_now.patient.name }}</h3>
					{% else %}

						<h3>Зараз не має прийому</h3>
					{% endif %}
				</div>
			</div>
		</div>
	</div>





{% endblock %}